:root{
  --light-blue: #93C7EC;
  --middle-blue: #278FD9;
  --hard-blue: #001FB3;

}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Montserrat Alternates', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

a{
  text-decoration: none;
  color: black;
}

.bold{
  font-weight: bold;
}

nav{
  z-index: 10;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  background-color:rgba(255, 255, 255, 1);
  width: 100vw;
  justify-content: space-between;
  height: 10vh;
}
.navPagination{
  display: flex;
  justify-content: space-around;
  width: 460px;
  align-items: center;
  margin: 0 5%;

}
.navPagination>a{
  color: #808080;
  font-size: 14px;
}
.logo{
  display: flex;
  margin-left: 5%;
  align-items: center;
}
.logo *{
  display: inline-block;
  height: 50px;
}
.isActive{
  color: #000000 !important;
  font-weight: bold;
}





/* Home Page */
#home{
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr 1fr 1fr 1fr 10%;
  grid-template-columns: 5% 1fr 1fr 5%;
  overflow-x: hidden;
}

#titles{
  grid-row: 2;
  grid-column: 2;
  margin-top: 10px;
}
.subtitle{
  font-size: 36px;
  font-weight: 500;
  margin: 0;
}
.homeTitle{
  font-size: 64px;
  font-weight: bold;
  margin: 0;
}
.quote{
  grid-row: 3;
  grid-column: 2;
  font-style: italic;
  color:#808080;
}

#homeButtons{
  grid-row: 4;
  grid-column: 2;
  display: flex;
  font-size: 24px;
}
.blueButton{
  display: flex;
  height: 73px;
  border-radius: 15px;
  background-color: var(--hard-blue);
  padding: 0 20px;
  font-weight: bold;
  font-size: 24px;
  width: 100%;
  min-width: 185px;
  margin: 10px;
  margin-left: 0;
}
.blueButton>a{
  color: #ffffff;
  margin: auto;
}
#contactButton{
  display: flex;
  height: 65px;
  border-radius: 15px;
  border: solid var(--middle-blue) 4px;
  padding: 0 20px;
  width: 100%;
  margin: 10px auto;
}
#contactButton>a{
  margin: auto;
}
.homeIllustration{
  grid-row: 1/6;
  grid-column: 3/4;
  align-self: center;
  justify-self: center;
}

/* Scroll */
.scrollIllustration{
  display: flex;
  position: absolute;
  bottom:0%;
  height: 70px;
  width: 100%;
  justify-content: center;
}
.scrollIllustration > a > svg {
  margin-left: 20px;
}
#circle--shape{
  animation: animateShape 1.5s ease-out infinite;
}

@keyframes animateShape {

  100%{
    transform: translateY(25%);
    opacity: 0
  }
}

@media (max-width: 540px) {
  .scrollIllustration{
    display: none;
  }
  #home{
    grid-template-rows: 10vh 1fr 1fr 1fr 1fr;
    grid-template-columns: 5% 1fr 5%;
  }
  .subtitle{
    font-size: 24px;
  }
  .homeTitle{
    font-size: 36px;
  }
  .quote{
    font-size: 12px;
  }
  .homeIllustration{
    grid-row: 4;
    grid-column: 2;
    width: 130px;
    margin-bottom: 10px;
  }
  #homeButtons{
    grid-row: 5;
    font-size: 18px;
    justify-content: space-evenly;
    width: 100%;
    margin: auto;
  }
  .blueButton{
    font-size: 18px;
    height: 50px;
    padding: 0 10px;
    min-width: 0;
  }
  #contactButton{
    height: 42px;
    padding: 0 10px;
  }
  #about{
    min-width: 90px;
    text-align: center;
  }
}





/* Projects Page */
#projects{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
#projects>h2{
  flex-grow: 0;
}
#projects>h2::after{
  width: 250px;  
}
#projects>p{
  margin: 10px 5vw;
}
.mainTitle{
  position: relative;
  font-size: 36px;
  font-weight: bold;
  padding: 10vh 10px 0 10px;
  margin-left: 5vw;
}

.mainTitle::after{
  z-index: -1;
  content:"";
  position: absolute;
  width: 193px;
  height: 15px;
  top: 85%;
  left: 0%;
  background-color: var(--light-blue);
}

.allProjects{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.project{
  margin: 50px 10px;
  background: var(--light-blue);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  width: 500px;
  height: 60vh;
}

@keyframes fadeIn{
  0%{
    height: 0;
  }
  100%{
    height: 60vh;
  }
}

@media (max-width: 540px) {
  .mainTitle{
    font-size: 24px;
    padding-top: 10px;
    margin-top: 10vh;
  }
  #projects > h2::after {
    width: 173px;
    height: 10px;
    top:71%;
  }
  .allProjects {
    flex-direction: column;
  }
  .project {
    margin: 5vh auto;
    width: 300px;
    height: 35vh;
  }
  #projects>p{
    font-size: 12px;
  }

  @keyframes fadeIn{
    0%{
      height: 0;
    }
    100%{
      height: 40vh;
    }
  }
}


/* About Page */
#about{
  display: flex;
  height: 100vh;
  overflow: hidden;
  background: url(./assets/bg_about.svg) no-repeat;
  background-size: cover;
}

.rightSide{
  display: flex;
  width: 60%;
}
.rightSide>img{
  margin-bottom: auto;
  width: 95%;
  min-width: 750px;
}
.leftSide{
  display: flex;
  flex-direction: column;
  width: 40%;
  min-width: 350px;
}

.aboutText{
  margin-top: 10vh;
  color: #ffffff;
  width: 100%;
}
.aboutText p {
  margin: 0 5vw;
  width: 80%;
}

#bonjour{
  font-weight: 500;
  font-size: 24px;
}

#cvButton{
  width: 150px;
  margin: 10vh 5vw;
}
#cvButton>a{
  margin: auto;
  padding: 10px;
}
@media (max-width: 540px) {
  #about{
    flex-direction: column;
    text-align: initial;
    background-position: -100px;
  }
  .leftSide{
    width: 100%;
  }
  .mainTitle::after{
    top: 71%;
    width: 140px;
    height: 10px;
  }
  #bonjour{
    font-size: 18px;
  }
  .aboutText {
    margin-top: 10vh;
  }
  .aboutText>p{
    font-size: 12px;
  }
  #cvButton{
    z-index: 1;
    margin: 20px auto 0;
    width: auto;
    min-height: 50px;
  }
  .rightSide {
    width: 100%;
    height: 160px;
  }
  .rightSide > img {
    min-width: auto;
    margin: 0 auto;
    height: 90%;
  }
}
 



